[submodule "fw/ext/pico-sdk"]
	path = fw/ext/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "fw/ext/pico-examples"]
	path = fw/ext/pico-examples
	url = https://github.com/raspberrypi/pico-examples.git
